@mixin font-face($style-name, $family, $category:"") {
    $filepath: "../fonts/" + $family;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'),  
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@include font-face('SourceSansPro-Bold', 'SourceSansPro-Bold', 'serif');
@include font-face('SourceSansPro-Regular', 'SourceSansPro-Regular', 'serif');
@include font-face('SourceSansPro-SemiBold', 'SourceSansPro-SemiBold', 'serif');
@include font-face('SourceSansPro-Light', 'SourceSansPro-Light', 'serif');
@include font-face('SourceSansPro-Black', 'SourceSansPro-Black', 'serif');

@mixin font-bold {
    font-family: 'SourceSansPro-Bold', arial, helvetica, sans-serif;
    font-weight: normal;
}
@mixin font-semibold {
    font-family: 'SourceSansPro-SemiBold', arial, helvetica, sans-serif;
    font-weight: normal;
}
@mixin font-light {
    font-family: 'SourceSansPro-Light', arial, helvetica, sans-serif;
    font-weight: normal;
}
@mixin font-regular {
    font-family: 'SourceSansPro-Regular', arial, helvetica, sans-serif;
    font-weight: normal;
}
@mixin font-black {
    font-family: 'SourceSansPro-Black', arial, helvetica, sans-serif;
    font-weight: normal;
}